[Unit]
Description=Slave script for zoomachine3 project
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 app.py
WorkingDirectory=/home/pi/ZooMachine-3/master/status
User=pi

[Install]
WantedBy=multi-user.target