[Unit]
Description=Slave script for zoomachine3 project
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/ZooMachine-3/code/slave/raspi/arduino_gateway/main.py master.local

[Install]
WantedBy=multi-user.target
