<!-- Hero -->
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Bienvenue dans l'Artefact</div>
            <div class="intro-heading">Une expérience ludique intéractive</div>

            <div class="btn-group hidden-xs">
              <a href="#description" class="page-scroll btn btn-xl">En savoir plus</a>
              <a href="#build" class="page-scroll btn btn-xl">Construire</a>
              <a href="#expositions" class="page-scroll btn btn-xl">Exposer</a>
            </div>
            <div class="btn-group-vertical visible-xs">
              <a href="#description" class="page-scroll btn btn-xl">En savoir plus</a>
              <a href="#build" class="page-scroll btn btn-xl">Construire</a>
              <a href="#expositions" class="page-scroll btn btn-xl">Exposer</a>
            </div>

        </div>
    </div>
</header>
